<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key> CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key> CFBundlePackageType</key>
	<string>APPL</string>
	<key> ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key> UIStatusBarHidden</key>
	<false/>
	<key> UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string> UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string> UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key> UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>task-identifier</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>AngerApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.robertstuendl.angergymapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AngerApp</string>
	<key>CFBundleShortVersionString</key>
	<string> $(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string> $(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Wir benötigen Zugriff auf Dateien, um Dateien von der JSP-Cloud auf dem Gerät zu
			speichern.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Wir schicken Benachrichtigungen über neue Vertretungspläne, neue Nachrichten oder
			andere Neuigkeiten, welche den Schulalltag betreffen.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string> UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string> UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
