<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365970918966-5qcn40h3p50ecr8j3nqh0od2jg9rb594.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365970918966-5qcn40h3p50ecr8j3nqh0od2jg9rb594</string>
	<key>API_KEY</key>
	<string>AIzaSyD3l8p6C0W_8MxAE-_aPtjNyNdn9aGUio0</string>
	<key>GCM_SENDER_ID</key>
	<string>365970918966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertstuendl.angergymapp</string>
	<key>PROJECT_ID</key>
	<string>angergymapp</string>
	<key>STORAGE_BUCKET</key>
	<string>angergymapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365970918966:ios:41cd360123c93e241d1297</string>
</dict>
</plist>